.el-breadcrumb {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0 !important;
  padding-left: 25px;
}
.el-breadcrumb .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  background-image: linear-gradient(to bottom, #d8e2ff, #a2c5ff);
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
}
.el-table,
.el-table__expanded-cell {
  background-color: transparent !important;
  color: #fff;
}
.el-table th,
.el-table tr,
.el-table td {
  background-color: transparent !important;
}
.el-table tr:nth-child(even) {
  background-color: rgba(28, 53, 78, 0.8) !important;
}
.el-table th {
  color: #71cdf9;
  background-color: rgba(20, 53, 110, 0.8) !important;
}
.operate-btn {
  margin: 0 4px;
  cursor: pointer;
  color: #4776cb;
}
.operate-btn:nth-child(1) {
  margin-left: 0;
}
.el-card {
  border: none;
}
.el-card__body {
  padding: 10px 70px;
}
.el-pagination,
.el-pagination__jump,
.el-input__inner,
.el-pager li.active,
.el-pagination__total {
  color: #dbdcde;
}
.el-pager {
  margin: 0 6px;
}
.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li {
  background: url(../img/globalTable/page2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #dbdcde;
  width: 32px !important;
  height: 32px;
  line-height: 32px;
  margin: 0 -1px;
}
.el-pagination .el-select .el-input .el-input__inner {
  height: 32px;
  border: none;
  background: url(../img/globalTable/page1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 32px;
  border: none;
  background: url(../img/globalTable/page4.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.el-pager li.active {
  line-height: 35px;
  margin-top: -2px;
  width: 35px;
  height: 35px;
  background: url(../img/globalTable/page3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-container {
  width: 100%;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  background: url(../img/globalTable/bg-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-container .el-form-item__label {
  color: #fff;
}
.card-container .el-input,
.el-dialog .el-input,
.el-dialog .el-textarea__inner {
  background: url(../img/dialog/tc-Input.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #797d85;
}

.el-input {
  color: #70757e;
}
.el-table--border,
.el-table--group {
  border: 1px solid #0f3961 !important;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #0f3961 !important;
}

.el-table::before,
.el-table__fixed-right::before,
.el-table__fixed::before {
  content: none;
}
.header-btn {
  background-color: rgba(15, 42, 80, 0.8);
}
.header-btn img {
  width: 12px;
}
.el-dialog,
.el-message-box,
.el-tree {
  background-color: rgba(12, 21, 37, 0.9);
  /* color: #939dbd; */
}
.el-dialog .el-col-11 {
  width: 100%;
}
.el-message-box__title,
.el-dialog__title {
  background-image: linear-gradient(to bottom, #d8e2ff, #a2c5ff);
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
}
.el-dialog .el-form-item__label,
.el-message-box__content {
  color: #fff;
}
.el-dialog__footer,
.el-message-box__btns,
.dialog-footer,
.dialog-footer .el-form-item__content {
  text-align: center;
}
.el-message-box__btns .el-button,
.el-dialog__footer .el-button--mini,
.dialog-footer .el-button--mini {
  width: 110px;
  padding: 12px;
  border: none;
}
.el-dialog__footer .el-button--info,
.dialog-footer .el-button--info {
  background: url(../img/dialog/tc-button2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.el-message-box__btns .el-button--default {
  background: url(../img/dialog/tc-button2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateX(110%);
  border: none;
}
.el-form-item__content .cancel-btn {
  background: url(../img/dialog/tc-button2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 110px;
  padding: 12px;
  border: none;
}
.el-message-box__btns .el-button--primary,
.el-dialog__footer .el-button--primary,
.dialog-footer .el-button--primary {
  background: url(../img/dialog/tc-button1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
.el-message-box__btns .el-button--primary {
  -webkit-transform: translateX(-110%);
}
.el-dialog
  input::-webkit-input-placeholder
  .el-dialog
  textarea::-webkit-input-placeholder {
  color: #797c83;
}
.el-dialog .el-form-item__content {
  margin: 0 !important;
}
.el-dialog__body {
  color: #939dbd;
}
.el-dialog__body .el-tabs__nav-wrap::after {
  content: none;
}

 .el-table .el-table__body-wrapper {
  overflow: hidden;
  }
.el-table__fixed-right-patch {
   background-color: transparent; 
   border-bottom: 0px;
   display: none;
  }
  .el-table .el-table__cell.gutter{
    display: none;
  }